.general-playlist-info-container {
    margin-bottom: 2em;
    border: 1px solid lightgrey;
    border-radius: 10px;
    font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;;
    font-size: 13px;
}

.playlist-name-delete-container {
    display: flex;
    justify-content: space-between;
    padding: 1em;
}

.playlist-description {
    padding-bottom: 1em;
    margin-bottom: 2em;
    margin-left: 2em;
    margin-right: 2em;
    color: grey;
    border-bottom: 1px solid lightgrey;
}

.playlist-plus-trash {
    display: flex;
    gap: 0.7em;
}

.playlist-plus-trash button {
    border: none;
    background-color: white;
    cursor: pointer;
}

.playlist-plus-trash button:hover {
    color: #f50;
}

.delete-playlist-button:hover {
    color: red;
    cursor: pointer;
}



.playlist-track-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 2em;
    margin-right: 2em;
    margin-top: 1em;
    margin-bottom: 1em;
    border-bottom: 1px solid lightgrey;
    /* border: 1px solid red; */
}

.playlist-track-image img {
    height: 30px;
    width: 30px;
}

.delete-pt-button-pl-track-image {
    display: flex;
    align-items: center;
    gap: 1em;
}

.playlist-card-delete-select-btns {
    display: flex;
    gap: 1em;
    cursor: pointer;
}
