.playlist-tab-container {
    margin-top: 1em;
    width: 100%;
}

.playlist-card-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 2em;
    width: 100%;
}


/* BUTTON */
.new-playlist-button button {
    background-image: linear-gradient(to bottom right, #FF0000, #8B0000);
    border-color: #FF0000;
    width: 16em;
    height: 3.5em;
    border-radius: 10px;
    color: white;
    font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;;
    font-weight: 300;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.new-playlist-button button:hover {
    background-image: linear-gradient(to bottom right, #8B0000, #FF0000);
}