.playlist-tab-container {
    margin-top: 1em;
    width: 100%;
}

.playlist-card-container {
    display: flex;
    flex-direction: column;
    margin-top: 2em;
    margin-bottom: 2em;
}

.create-playlist-btn-container {
    display: flex;
    justify-content: flex-end;
    width: 15%;
    /* border: 1px solid red; */
}

.create-playlist-btn-container button {
    background-color: #FF0000;
    border-color: #FF0000;
    border-radius: 5px;
    height: 3em;
    width: 90%;
    color: white;
    font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;;
    cursor: pointer;
}