.playlist-track-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    /* border: 1px solid red; */
}

.playlist-info-container {
    margin: 1em;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease-in-out;
}

.playlist-info {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1em;
    margin-bottom: 2em;
    font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;;
    border-bottom: 1px solid grey;
}

.add-playlist-track-button button {
    width: 200px;
    height: 200px;
    cursor: pointer;
}

.playlist-description {
    color: grey;
    font-size: 12px;
}

.delete-playlist-button:hover {
    color: red;
    cursor: pointer;
}

