.comments-container {
    margin-left: 150px;
    margin-bottom: 1em;
    font-size: 13px;
    font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;;
    /* border: 1px solid black; */
}