.comments-container {
    display: flex;
    gap: 1em;
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 1em;
    padding-bottom: 1em;
    font-size: 13px;
    font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;;
    border-bottom: 1px solid lightgrey;
    /* border: 1px solid black; */
}

.comment-info-container {
    margin-right: 3em;
    /* border: 1px solid black; */
}

.comment-btns-container {
    display: flex;
    align-items: center;
    gap: 0.5em;
    /* border: 1px solid black; */
}

.edit-comment-btn-container button {
    border: none;
    background-color: white;
    cursor: pointer;
}

.edit-comment-btn-container button:hover {
    color: #f50;
}

.profile-image {
    display: flex;
    align-self: center;
    /* border: 1px solid black; */
}

.comment-created-at {
    color: grey;
}