.profile-likes-container {
    display: flex;
    flex-direction: column;
    width: fit-content;
    padding-top: 3em;
    cursor: pointer;
    /* border: 1px solid red; */
}

.profile-likes-img-container img {
    height: 250px;
    width: 250px;
    object-fit: cover;
    border-radius: 20px;
}

.profile-likes-info {
    display: flex;
    align-items: center;
    margin-left: 0.6em;
    font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;;
    font-size: 13px;
    /* border: 1px solid red; */
}