.track-info-container {
    display: flex;
    margin-top: 0.4em;
    margin-right: 150px;
    margin-left: 150px;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid black; */
}

.player-controls {
    height: fit-content;
    width: fit-content;
    /* border: 1px solid black; */
}

.player-scrubber {
    height: fit-content;
    accent-color: #f50;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    input[type='range'] {
      width: 600px;
      cursor: pointer;
    }
}

.player-info-container {
    display: flex;
    justify-content: flex-end;
    height: fit-content;
    /* border: 1px solid black; */
}


.player-image {
    object-fit: cover;
    /* border: 1px solid black; */
}

.player-image img {
    height: 40px;
    width: 40px;
}

.track-details {
    margin-left: 1em;
    height: fit-content;
    align-self: center;
    /* border: 1px solid black; */
}

.audio-controls {
    display: flex;
    flex-direction: row;
    gap: 1.5em;
    /* border: 1px solid black; */
    
}
.audio-controls button {
    border: none;
    cursor: pointer;
    font-size: 16px;
}