.profilepage-container {
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 4em;
    margin-bottom: 6em;
    /* border: 1px solid black; */
}

.profile-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 70px;
    height: 17em;
    background-color: whitesmoke;
    /* border: 1px solid black; */
}

.profile-username {
    display: flex;
    justify-content: center;
    font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;;
    /* border: 1px solid black; */
}

.profile-email {
    display: flex;
    justify-content: center;
    font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;;
    /* border: 1px solid black; */
}

.profiletrack-container {
    display: flex;
    /* justify-content: space-around; */
    border-top: 1px solid lightgray;
    /* border: 1px solid black; */
}

.profiletrack-info-container {
    display: flex;
    flex-direction: column;
    margin-top: 2em;
    width: 33%;
    height: fit-content;
    font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;;
    /* border: 1px solid black; */
}

.profiletrack-img-container {
    object-fit: cover;
    margin-top: 2em;
    margin-bottom: 1em;
    cursor: pointer;
    position: relative;
}

.profiletrack-img-container img {
    width: 125px;
    height: 125px;
    object-fit: cover;
}

.profiletrack-img-container:hover .select-track-btn {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: white;
}

.profiletrack-btns-container {
    display: flex;
    justify-content: space-around;
    width: 80%;
    gap: 2em;
    /* border: 1px solid black; */
}

.profiletrack-btns-container button {
    width: 90%;
    height: 3em;
    align-self: center;
    margin-top: 1em;
    color: white;
    background-color: #FF0000;
    border-color: #FF0000;
    border-radius: 5px;
    cursor: pointer;
    font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;;
}

.profiletrack-title {
    text-decoration: underline;
    cursor: pointer;
}

.profile-track-description {
    display: flex;
    gap: 1em;
    color: grey;
}

.profile-track-date {
    color: grey;
}

.num-tracks-display {
    display: flex;
    justify-content: center;
    text-decoration: underline;
    font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;;
}

.profile-tab-container {
    display: flex;
    border-bottom: 1px solid lightgrey;
    font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;;
}

.profile-tracks-tab {
    padding: 1em;
    color: #FF0000;
    background-color: light;
    /* border-right: 2px solid lightgrey; */
}

.profile-favorites-tab {
    padding: 1em;
    color: #FF0000;
    /* border-right: 2px solid lightgrey; */
}

.profile-favorites-tab:hover {
    cursor: pointer;
    color: white;
    background-color: #FF0000;
}

.profile-tracks-tab:hover {
    cursor: pointer;
    color: white;
    background-color: #FF0000;
}

.profile-playlists-tab {
    padding: 1em;
    color: #FF0000;
    /* border-right: 2px solid lightgrey; */
}

.profile-playlists-tab:hover {
    cursor: pointer;
    color: white;
    background-color: #FF0000;
}