.create-comment-form-container {
    display: flex;
    flex-direction: row;
    padding-bottom: 1em;
    margin-right: 150px;
    border-bottom: 1px solid lightgrey;
    /* border: 1px solid red; */
}

.create-comment-form-container button {
    align-self: center;
    margin-left: 1em;
    height: 2em;
    font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;;
}

.commentbody-container input {
    /* border: 1px solid red; */
    width: 700px;
    height: 2em;
    font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;;
}

.createcomment-btn {
    cursor: pointer;
    width: 75px;
    background-color: #3244b8;
    border-radius: 5px;
    color: whitesmoke;
    border: 3px solid #3244b8;
    font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;;
}

.comment-errors {
    color: red;
    list-style-type: none;
    margin-bottom: 1em;
    font-size: 14px;
    font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;;
}