.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4.3em;
    background-color: #f2f2f2;
    border-top: 1px solid lightgrey;
    text-align: center;
    font-size: 12px;
    font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;;
}