.hidden {
    display: none;
}

.nav-background-container {
    border-bottom: 1px solid black;
    height: 3em;
    width: 100%;
    padding: 0px;
    /* background-color: #333; */
}

.nav-container {
    display: flex;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 1.3em;
    align-self: center;
    /* border: 1px solid black; */
}

.profile-btn button {
    border-radius:10px;
    background-color: white;
    height: 2em;
    width: 3em;
}

.home-btn-container {
    display: flex;
    justify-content: flex-start;
    width: 10%;
    list-style-type: none;
    /* border: 1px solid black; */
}

.create-acct-btn {
    display: flex;
    width: 10%;
    height: 1.75em;
    justify-content: flex-end;
}

.login-btn {
    display: flex;
    width: 70%;
    height: 1.75em;
    justify-content: flex-end;
    list-style-type: none;
}

.login-btn button {
    border-color: black;
    border-radius: 5px;
    height: 2em;
    color: black;
    font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;;
    font-weight: 100;
    cursor: pointer;
}

.create-acct-btn button {
    background-color: #f50;
    border-color: #f50;
    border-radius: 5px;
    color: white;
    font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;;
    font-weight: 100;
    cursor: pointer;
}

.profile-btn-container {
    display: flex;
    justify-content: flex-end;
    width: 10%;
    list-style-type: none;
    /* border: 1px solid black; */
}

.profile-dropdown {
    position: absolute;
    list-style-type: none;
    background-color: #fff;
    border: 1px solid #ccc;
    right: 115px;
    padding: 10px;
    height: 200px;
    width: 6em;
    /* text-align: center; */
}

.demo-user-btn button {
    border: none;
    color: #333;
    background-color: white;
    width: 100%;
    height: 2.5em;
    cursor: pointer;
    font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;;
}

.demo-user-btn button:hover {
    color: white;
    background-color: #f50;
}

.dropdown-profile-btn button {
    border: none;
    color: #333;
    background-color: white;
    width: 100%;
    height: 2.5em;
    cursor: pointer;
    font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;;
}

.dropdown-profile-btn button:hover {
    color: white;
    background-color: #f50;
}