.hidden {
    display: none;
}

.nav-container {
    display: flex;
    margin-left: 150px;
    margin-right: 150px;
    /* border: 1px solid black; */
}

.home-btn-container {
    display: flex;
    justify-content: flex-start;
    width: 50%;
    list-style-type: none;
    /* border: 1px solid black; */
}

.profile-btn-container {
    display: flex;
    justify-content: flex-end;
    width: 50%;
    list-style-type: none;
    /* border: 1px solid black; */
}

.profile-dropdown {
    position: absolute;
    list-style-type: none;
    border: 2px solid black;
    right: 50px;
    padding: 10px;
    background-color: rgba(0,0,0,0.7);
    /* text-align: center; */
}