.searchbar {
    display: flex;
    gap: 1em;
}

.searchbar input {
    height: 35px;
    width: 500px;
    margin-top: 7px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;;
}

.search-icon {
    color: white;
    margin-top: 16px;
    cursor: pointer;
}