.uploadtrack-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 400px;
    width: 400px;
}

.upload-title {
    display: flex;
    justify-content: center;
}

.upload-title input {
    width: 90%;
    height: 3em;
    border-radius: 5px;
    margin-bottom: 1em;
    font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;;
    /* border: 2px solid red; */
}

.upload-file {
    display: flex;
    justify-content: center;
}

.upload-file input {
    width: 90%;
    margin-bottom: 1em;
    font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;;
}

.upload-genre {
    display: flex;
    justify-content: center;
}

.upload-genre input {
    width: 90%;
    height: 3em;
    border-radius: 5px;
    margin-bottom: 1em;
    font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;;
    /* border: 2px solid red; */
}

.upload-description {
    display: flex;
    justify-content: center;
}

.upload-description textarea {
    width: 90%;
    height: 5em;
    border-radius: 5px;
    margin-bottom: 1em;
    font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;;
    /* border: 2px solid red; */
}

.upload-trackimage {
    display: flex;
    justify-content: center;
}

.upload-trackimage input {
    width: 90%;
    height: 3em;
    border-radius: 5px;
    margin-bottom: 1em;
    font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;;
    /* border: 2px solid red; */
}

.uploadtrack-form-container button {
    width: 90%;
    height: 3em;
    align-self: center;
    margin-top: 1em;
    color: white;
    background-color: #f50;
    border-color: #f50;
    border-radius: 5px;
    cursor: pointer;
    font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;;
}