.uploadtrack-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 425px;
    width: 400px;
}

.upload-title {
    display: flex;
    justify-content: center;
}

.upload-title input {
    width: 90%;
    height: 3em;
    border-radius: 5px;
    margin-bottom: 1em;
    font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;;
    /* border: 2px solid red; */
}

.upload-file {
    display: flex;
    justify-content: center;
}

.upload-file input {
    width: 90%;
    margin-bottom: 1em;
    font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;;
}

.upload-genre {
    display: flex;
    justify-content: center;
}

.upload-genre input {
    width: 90%;
    height: 3em;
    border-radius: 5px;
    margin-bottom: 1em;
    font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;;
    /* border: 2px solid red; */
}

.upload-description {
    display: flex;
    justify-content: center;
}

.upload-description textarea {
    width: 90%;
    height: 5em;
    border-radius: 5px;
    margin-bottom: 1em;
    font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;;
    /* border: 2px solid red; */
}

.upload-trackimage {
    display: flex;
    justify-content: center;
}

.upload-trackimage input {
    width: 90%;
    height: 3em;
    border-radius: 5px;
    margin-bottom: 1em;
    font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;;
    /* border: 2px solid red; */
}


.upload-track-button {
    display: flex;
    justify-content: center;
}

.upload-track-button button {
    background-image: linear-gradient(to bottom right, #FF0000, #8B0000);
    border-color: #FF0000;
    width: 90%;
    height: 3em;
    border-radius: 10px;
    color: white;
    font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;;
    font-weight: 300;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.upload-track-button button:hover {
    background-image: linear-gradient(to bottom right, #8B0000, #FF0000);
}

.upload-track-errors {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: red;
    list-style-type: none;
    margin-top: 1em;
    font-size: 14px;
    font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;;
}